@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.forgot-password-page {
  font-family: 'Inter', sans-serif;
  height: 100vh;
  background-image: url(/background.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.forgot-password-logo {
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 10;
}

.forgot-password-logo img {
  width: 150px;
  height: auto;
}

.forgot-password-form-container {
  background-color: white;
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  width: 350px;
  max-width: 400px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.forgot-password-form-container h2 {
  margin-bottom: 20px;
  font-size: 24px;
  color: #333;
}

.forgot-password-form {
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
  width: 100%;
}

.forgot-password-input-container {
  position: relative;
  width: 100%;
}

.forgot-password-input-container input {
  padding: 10px;
  margin: 5px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 100%;
  height: 40px;
  font-size: 14px;
  outline: none;
  transition: all 0.2s ease;
}

.forgot-password-input-container ::placeholder {
  opacity: 1;
  color: #aaa;
}

.forgot-password-input-container input:focus {
  border-color: #A09B00;
}

.forgot-password-input-container label {
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
  font-size: 14px;
  color: #aaa;
  pointer-events: none;
  transition: all 0.2s ease;
  padding: 0 5px;
}

.forgot-password-input-container input:focus + label,
.forgot-password-input-container input:not(:placeholder-shown) + label {
  top: -10px;
  left: 10px;
  font-size: 12px;
  color: #A09B00;
}

.forgot-password-password-container {
  position: relative;
  width: 100%;
}

.forgot-password-password-container input[type="password"],
.forgot-password-password-container input[type="text"] {
  padding-right: 40px;
}

.forgot-password-eye-icon {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  z-index: 2;
  opacity: 50%;
}

.forgot-password-submit-button {
  background-color: #A09B00;
  color: white;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
  border: none;
  width: 100%; 
  transition: all 0.3s;
}

.forgot-password-submit-button:hover {
  background-color: #8a8500;
  transform: scale(1.05);
}

.forgot-password-error {
  color: red;
  font-size: 13px;
  margin-top: 5px;
}

.forgot-password-success-message {
  color: green;
  font-size: 14px;
  margin-top: 15px;
}

@media (max-width: 768px) {
  .forgot-password-form-container {
    padding: 20px;
    width: 90%;
    max-width: 350px;
  }
  
  .forgot-password-submit-button {
    width: 90%;
  }
}
