@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Inter', sans-serif;
  background-image: url('/background3.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: white;
  overflow-x: visible;
}

.header {
  width: 100%;
  padding: 40px 60px 0 250px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 50;
}

.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo img {
  width: 120px;
}

.nav-links {
  display: flex;
  gap: 100px;
  align-items: center;
}

.nav-links a {
  color: white;
  font-weight: 600;
  text-decoration: none;
  font-size: 14px;
  letter-spacing: 0.5px;
  padding: 6px 10px;
  border-radius: 4px;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.nav-links a:hover {
  color: #A09B00;
  background-color: rgba(255, 255, 255, 0.1);
}

.user-info {
  display: flex;
  align-items: center;
  gap: 10px;
  padding-left: 920px;
}

.avatar {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    object-fit: cover;
    border: 2px solid white;
}

button {
  padding: 10px 30px;
  background-color: #A09B00;
  color: #FFFFFF;
  border: none;
  border-radius: 6px;
  font-weight: 600;
  cursor: pointer;
  font-size: 14px;
  transition: all 0.3s ease;
}

button:hover {
  background-color: #8a8500;
}

.main-content {
  text-align: center;
  margin-top: 50vh;
  padding: 0 20px;
}

.main-content h1 {
  font-size: 32px;
  font-weight: 700;
  margin-bottom: 10px;
}

.main-content p {
  font-size: 16px;
  margin-bottom: 30px;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
}

.oficinas-btn {
  background-color: #A09B00;
  color: white;
  padding: 22px 24px;
  border: none;
  border-radius: 6px;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.3s ease;
}

.oficinas-btn:hover {
  background-color: #8a8500;
}

@media (max-width: 768px) {
  .header-content {
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
  }

  .nav-links {
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
  }

  .main-content h1 {
    font-size: 24px;
  }

  .main-content p {
    font-size: 14px;
  }
}
